<section>

    <div class="projets">

        <div class="projet">

            <a href="firstproject.html">
                <div class="picture">
                    <a routerLink="motion">
                        <img src="../../../assets/images/motion_design.jpg" alt="MOTION DESIGN">
                    </a>
                </div>
            </a>
            <div class="contain">
                <div>
                    <span class="spanLorem">Lorem ipsum dolor sit amet. Hic excepturi deleniti eum nesciunt libero nam</span>
                </div>
                
                <div>
                    <input class="demarrer" routerLink="motion" type="image"
                    src="../../../assets/images/demarrer.png">                
                </div>
            </div>


        </div>

        <div class="projet">

            <a href="firstproject.html">
                <div class="picture">
                    <a routerLink="">
                        <img src="../../../assets/images/film_corporate.jpg" alt="FILM CORPO">
                    </a>
                </div>
            </a>
            <div class="contain">
                <div>
                    <span class="spanLorem">Lorem ipsum dolor sit amet. Hic excepturi deleniti eum nesciunt libero nam</span>
                </div>
                
                <div>
                    <input class="demarrer" routerLink="" type="image"
                    src="../../../assets/images/demarrer.png">                
                </div>
            </div>


        </div>

        <div class="projet">

            <a href="firstproject.html">
                <div class="picture">
                    <a routerLink="">
                        <img src="../../../assets/images/identite_visuelle.jpg" alt="IDENTITÉ VISUEL">
                    </a>
                </div>
            </a>
            <div class="contain">
                <div>
                    <span class="spanLorem">Lorem ipsum dolor sit amet. Hic excepturi deleniti eum nesciunt libero nam </span>
                </div>
                
                <div>
                    <input class="demarrer" routerLink="" type="image"
                    src="../../../assets/images/demarrer.png">                
                </div>
            </div>


        </div>

        <div class="projet">

            <a href="firstproject.html">
                <div class="picture">
                    <a routerLink="">
                        <img src="../../../assets/images/edition_print.jpg" alt="EDITION PRINT">
                    </a>
                </div>
            </a>
            <div class="contain">
                <div>
                    <span class="spanLorem">Lorem ipsum dolor sit amet. Hic excepturi deleniti eum nesciunt libero nam </span>
                </div>
                
                <div>
                    <input class="demarrer" routerLink="" type="image"
                    src="../../../assets/images/demarrer.png">                
                </div>
            </div>


        </div>

        <div class="projet">

            <a href="firstproject.html">
                <div class="picture">
                    <a routerLink="">
                        <img src="../../../assets/images/creation_graphique.jpg" alt="CRÉATION GRAPHIQUE">
                    </a>
                </div>
            </a>
            <div class="contain">
                <div>
                    <span class="spanLorem">Lorem ipsum dolor sit amet. Hic excepturi deleniti eum nesciunt libero nam </span>
                </div>
                
                <div>
                    <input class="demarrer" routerLink="" type="image"
                    src="../../../assets/images/demarrer.png">                
                </div>
            </div>


        </div>

        <div class="projet">

            <a href="firstproject.html">
                <div class="picture">
                    <a routerLink="">
                        <img src="../../../assets/images/site_web.jpg" alt="SITE WEB">
                    </a>
                </div>
            </a>
            <div class="contain">
                <div>
                    <span class="spanLorem">Lorem ipsum dolor sit amet. Hic excepturi deleniti eum nesciunt libero nam </span>
                </div>
                
                <div>
                    <input class="demarrer" routerLink="" type="image"
                    src="../../../assets/images/demarrer.png">                
                </div>
            </div>


        </div>

    </div>

</section>