body{
    
    font-family: 'Montserrat', arial;

}
.projets {

    margin-left: 12%;

}

.picture{

    width: 400px;
    height: 266px;
    overflow: hidden;

}

.projet{

    width: 400px;
    margin: 40px;
    display: inline-block;
    background-color: white;
    border: 0px black solid;
    overflow: hidden;

}

div .projet img {

    cursor: pointer;
    background-image: url(../../../assets/images/bt_demarrer_roll.jpg);

}

div .projet img:hover{

background-image: url(../../../assets/images/bt_demarrer_over.jpg);

}

.spanLorem {

    color: grey;
    font-size: 11px;
    
}

button {

    padding-top: 15%;
    padding-bottom: 15%;
    border-bottom-right-radius: 15px;
    
}

.contain {

    display: flex;
    justify-content: space-between;

}

.demarrer {
width: 150px;
}

.demarrer:hover {

    background-image: url(../../../assets/images/bt_demarrer_over.jpg);
}