<section>

    <div class="projets">

        <div class="projet">

            <a href="firstproject.html">
                <div class="picture">
                    <a routerLink="motion">
                        <img src="../../../assets/images/pawel-czerwinski-vI5XwPbGvmY-unsplash.jpg" alt="MOTION DESIGN">
                    </a>
                </div>
            </a>
            <div class="contain">
                <div>
                    <span class="spanLorem">Lorem ipsum dolor sit amet. Hic excepturi deleniti eum nesciunt libero nam</span>
                </div>
                
                <div>
                    <button class="buttonPicture">Démarrer </button>
                </div>
            </div>


        </div>

        <div class="projet">

            <a href="firstproject.html">
                <div class="picture">
                    <a routerLink="">
                        <img src="../../../assets/images/avel-chuklanov-Hn3S90f6aak-unsplash.jpg" alt="FILM CORPO">
                    </a>
                </div>
            </a>
            <div class="contain">
                <div>
                    <span class="spanLorem">Lorem ipsum dolor sit amet. Hic excepturi deleniti eum nesciunt libero nam</span>
                </div>
                
                <div>
                    <button class="buttonPicture">Démarrer</button>
                </div>
            </div>


        </div>

        <div class="projet">

            <a href="firstproject.html">
                <div class="picture">
                    <a routerLink="">
                        <img src="../../../assets/images/kelly-sikkema-IkHwu5xLXxs-unsplash.jpg" alt="IDENTITÉ VISUEL">
                    </a>
                </div>
            </a>
            <div class="contain">
                <div>
                    <span class="spanLorem">Lorem ipsum dolor sit amet. Hic excepturi deleniti eum nesciunt libero nam </span>
                </div>
                
                <div>
                    <button class="buttonPicture">Démarrer</button>
                </div>
            </div>


        </div>

        <div class="projet">

            <a href="firstproject.html">
                <div class="picture">
                    <a routerLink="">
                        <img src="../../../assets/images/bank-phrom-Tzm3Oyu_6sk-unsplash.jpg" alt="EDITION PRINT">
                    </a>
                </div>
            </a>
            <div class="contain">
                <div>
                    <span class="spanLorem">Lorem ipsum dolor sit amet. Hic excepturi deleniti eum nesciunt libero nam </span>
                </div>
                
                <div>
                    <button class="buttonPicture">Démarrer</button>
                </div>
            </div>


        </div>

        <div class="projet">

            <a href="firstproject.html">
                <div class="picture">
                    <a routerLink="">
                        <img src="../../../assets/images/emily-bernal-v9vII5gV8Lw-unsplash.jpg" alt="CRÉATION GRAPHIQUE">
                    </a>
                </div>
            </a>
            <div class="contain">
                <div>
                    <span class="spanLorem">Lorem ipsum dolor sit amet. Hic excepturi deleniti eum nesciunt libero nam </span>
                </div>
                
                <div>
                    <button class="buttonPicture">Démarrer</button>
                </div>
            </div>


        </div>

        <div class="projet">

            <a href="firstproject.html">
                <div class="picture">
                    <a routerLink="">
                        <img src="../../../assets/images/ilya-pavlov-OqtafYT5kTw-unsplash.jpg" alt="SITE WEB">
                    </a>
                </div>
            </a>
            <div class="contain">
                <div>
                    <span class="spanLorem">Lorem ipsum dolor sit amet. Hic excepturi deleniti eum nesciunt libero nam </span>
                </div>
                
                <div>
                    <button class="buttonPicture">Démarrer</button>
                </div>
            </div>


        </div>

    </div>

</section>