<header>
    <nav class="container">

        <a routerLink="">
            <img src="../../../assets/images/logo_devis_communication.png" alt="LOGO DEVIS COMMUNICATION">
        </a>

    </nav>
</header>

<section>

    <div class="projets">

        <div class="projet">

            <div class="picture">
                <a routerLink="premotion">
                    <img src="../../../assets/images/motion_design.jpg" alt="MOTION DESIGN">
                </a>
            </div>

            <div class="contain">
                <div class="div-spanLorem">
                    <span class="spanLorem">Lorem ipsum dolor sit amet. Hic excepturi deleniti eum nesciunt libero
                        nam</span>
                </div>

                <div>

                    <img routerLink="preidentite" class="demarrer" src="../../../assets/images/bt_demarrer_roll.jpg" alt="">

                </div>
            </div>


        </div>

        <div class="projet">

            <div class="picture">
                <a routerLink="prefilm">
                    <img src="../../../assets/images/film_corporate.jpg" alt="FILM CORPO">
                </a>
            </div>

            <div class="contain">
                <div class="div-spanLorem">
                    <span class="spanLorem">Lorem ipsum dolor sit amet. Hic excepturi deleniti eum nesciunt libero
                        nam</span>
                </div>

                <div>

                    <img routerLink="preidentite" class="demarrer" src="../../../assets/images/bt_demarrer_roll.jpg" alt="">

                </div>
            </div>


        </div>

        <div class="projet">

            <div class="picture">
                <a routerLink="preidentite">
                    <img src="../../../assets/images/identite_visuelle.jpg" alt="IDENTITÉ VISUEL">
                </a>
            </div>

            <div class="contain">
                <div class="div-spanLorem">
                    <span class="spanLorem">Lorem ipsum dolor sit amet. Hic excepturi deleniti eum nesciunt libero nam
                    </span>
                </div>

                <div>

                    <img routerLink="preidentite" class="demarrer" src="../../../assets/images/bt_demarrer_roll.jpg" alt="">

                </div>

            </div>


        </div>

        <div class="projet">

            <div class="picture">
                <a routerLink="preedition">
                    <img src="../../../assets/images/edition_print.jpg" alt="EDITION PRINT">
                </a>
            </div>

            <div class="contain">
                <div class="div-spanLorem">
                    <span class="spanLorem">Lorem ipsum dolor sit amet. Hic excepturi deleniti eum nesciunt libero nam
                    </span>
                </div>

                <div>

                    <img routerLink="preidentite" class="demarrer" src="../../../assets/images/bt_demarrer_roll.jpg" alt="">

                </div>
            </div>


        </div>

        <div class="projet">


            <div class="picture">
                <a routerLink="precreation">
                    <img src="../../../assets/images/creation_graphique.jpg" alt="CRÉATION GRAPHIQUE">
                </a>
            </div>

            <div class="contain">
                <div class="div-spanLorem">
                    <span class="spanLorem">Lorem ipsum dolor sit amet. Hic excepturi deleniti eum nesciunt libero nam
                    </span>
                </div>

                <div>

                    <img routerLink="preidentite" class="demarrer" src="../../../assets/images/bt_demarrer_roll.jpg" alt="">

                </div>
            </div>


        </div>

        <div class="projet">


            <div class="picture">
                <a routerLink="preweb">
                    <img src="../../../assets/images/site_web.jpg" alt="SITE WEB">
                </a>
            </div>

            <div class="contain">
                <div class="div-spanLorem">
                    <span class="spanLorem">Lorem ipsum dolor sit amet. Hic excepturi deleniti eum nesciunt libero nam
                    </span>
                </div>

                <div>

                    <img routerLink="preidentite" class="demarrer" src="../../../assets/images/bt_demarrer_roll.jpg" alt="">

                </div>
            </div>


        </div>

    </div>

</section>