<body>
    <div class="container">
        <div class="row">
            <div class="presentationGauche">

                <div class="miseEnPageGauche">
                    <img class="titre-motion" src="../../../assets/images/titre_motion_design_745x255.png"
                        alt="TITRE MOTION">

                    <form class="formBudget">
                        <div>
                            <div class="budget">
                                <p class="titre-budget">Estimation de votre projet</p>
                                <div id="budget">
                                    <span class="resultatBudget">{{budget}} € HT</span>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>

            </div>

            <div class="presentationDroite">

                <div class="miseEnPageDroite">
                    <div class="positionAccordion">
                        <div class="accordion">

                            <div id="triangle-left"></div>

                            <div class="duréeVideo">


                                <label class="titre-label" id="example-radio-group-label">
                                   <h1>1. Quelle durée souhaitez-vous ?</h1> 
                                </label>
                                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
                                    <mat-radio-button class="example-radio-button" *ngFor="let duree of durees"
                                        [value]="duree">
                                        {{duree}}
                                    </mat-radio-button>
                                </mat-radio-group>
                                
                            </div>
                        </div>
                        <div class="buttons">
                            <button routerLink="../budgetmotion" class="buttonReset">Réinitialiser votre estimation</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>