<body>
    <div class="container">
        <div class="row">
            <div class="presentationGauche">

                <div class="miseEnPageGauche">

                    <img class="siris" src="../../../assets/images/image_site_web_916x760_budget.jpg" alt="IMAGE MOTION">

                    <form class="formBudget">
                        <div>
                            <div class="budget">
                                <p class="titre-budget">Estimation de votre projet</p>
                                <div id="budget">
                                    <span class="resultatBudget">{{budget}} € HT</span>         
                                </div>
                            </div>
                        </div>
                    </form>

                </div>

            </div>

            <div class="presentationDroite">

                <div class="miseEnPageDroite">
                    <div class="positionAccordion">
                        <div class="accordion">
    
                            <div class="duréeVideo">
                                <h3>Durée de la vidéo</h3>
                                <span>(plusieurs choix possibles)</span>
            
                                <form>
                                    <div *ngFor="let itemCheckbox of checkboxes" class="row">
                                        <label class="checkbox">
                                            <h3>{{itemCheckbox.name}}</h3>
                                            <p>{{itemCheckbox.prix}}</p> €
                                            <input type="checkbox" name="checkb format" (change)="updateBudget(itemCheckbox)" [(ngModel)]="itemCheckbox.selected">
                                        </label>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>                    
                </div>     
            </div>
        </div>
    </div>
</body>