<div class="container">
    <div class="row">
        <div class="presentationGauche">

            <div class="miseEnPageGauche">

                <img class="siris" src="../../../assets/images/image_film_corporate_916x760.jpg" alt="IMAGE FILM">

            </div>

        </div>

        <div class="presentationDroite">

            <div class="miseEnPageDroite">

                <div class="positionAccordion">
                    <div class="accordion">
                        <h1>Film promo</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div class="panel">
                        Oui oui oui oui
                    </div>
                </div>

                <div>
                    <div class="accordion">
                        <h1>Tutoriel</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div class="panel">
                        Oui oui oui oui
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>